<div class="head">
    <header class="main-header-container">
        <div class="logo">
            <h1>
                Receitas da Familia              
            </h1>
        </div>

        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Dashboard</a></li>
                <li><a href="#">Support</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Portifolio</a></li>
            </ul>
        </nav>
    </header>
</div>