<nav>
    <ul class="navbar">
        <li><a href="{% url 'recipes:home' %}">Home</a></li>
        <li><a href="{% url 'authors:dashboard' %}">Dashboard</a></li>
        <li><a href="https://www.instagram.com/isaque_swo/" target="_blank" rel="noreferrer noopener">Suporte</a></li>  
        <li><a href="https://www.instagram.com/isaque_swo/" target="_blank" rel="noreferrer noopener">Contato</a></li>        
    </ul>
</nav>

<div class="head">
    <header class="main-header-container">
        <div class="logo">
            <h1>
                Receitas da Familia              
            </h1>
        </div>
        
    </header>
</div>



