{% if 'global/partials/header.html' %}

    <div class="container">
        <div>
            <h2 style="margin-bottom: 10px;">
                Por favor, leia antes de começar.
            </h2>
        </div>
        <div>
            <h3 style="margin-bottom: 10px;">Desde já agradeço por me ajudar. Mas para que exatamente estou fazendo esse teste?</h3>
            <li>Este site servirá de estudo para meu desenvolvimento Acadêmico quanto profissional, e também servirá de base para projetos que estou desenvolvendo.</li>
        
            <li>Durante esse período irei analisar e utilizar todos os dados e feedbacks para melhorar e desenvolver novos meios de segurança e técnicas</li>
            <li>Não é necessário que crie uma conta, se puder ao menos me mandar um feedback, novas ideias ou críticas construtivas estarei imensamente agradecido.</li>
            <li>O código fonte da aplicação está disponível em meu GitHub https://github.com/swosnow/Recipe-Site-Django</li>
        </div>
        <div>
            <h2>Para usuários de smartphones</h2>
            <li>Por cada celular possuir um tipo de tela diferente é possível que ocorra bugs, caso isso ocorra é recomendado que use o celular deitado. Minhas sinceras desculpas pelo transtorno.</li>
        </div>
    </div>

{% endif %}